.flexbox {
    display: flex;
    flex-wrap: wrap;
}


.flexbox > div {
    background-color: springgreen;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}

.grid {
    background-color: green;
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 200px 200px auto;
}

.grid-item {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.row > div {
  padding: 20px;
  background-color: teal;
  border: 2px solid black;
}
