$color: purple;

h3,h1 {
  color: $color;
}

main {
  padding: 20px
}

.mainlist {
  list-style-type: none;
  font-size: 20px;
  color: red;
}

.seclist {
  list-style-type: none;
  font-size: 18px;
  color: blue;
}

.sassnesting {
  p {
    font-style: italic;
    color: coral;
  }
}

%message {
  font-weight: bold;
  font-size: 18px;
  border: 1px;
  padding: 10px;
  margin: 20px;
}

.info {
  @extend %message;
  color: blue;
}

.warning {
  @extend %message;
  color: orange;
}

.error {
  @extend %message;
  color: red;
}


@media print {
  #noprintsample{
    display: none;
  }
}

@media (max-width: 679px) {
  .img {
    max-width: 100%;
  }
  body {
    /* background-color: green; */
  }
}

@media (max-height: 400px) {
  .img {
    max-height: 350px;
  }
}

@media (min-width: 680px) {
  body {
    /* background-color: red; */
  }
}

.row > div {
  padding: 20px;
  text-align: center;
  min-height: 250px;
  background-color: skyblue;
  border: 2px solid steelblue;
}

.row {
  border: 1px solid steelblue;
}

.img {
  display: block;
  margin:auto;
}



dd {
  font-style: italic;
  margin-left: 40px
}
